<div class = "tool">
  <%= link_to "友達を追加する", :new_friend %>
</div>

<div class = "friendsArea">
  <% if @friends.present? %>
    <%= paginate @friends %>
    <table>
	    <% @friends.each do |friend| %>
		    <tr>
			    <td><%= friend.id %></td>
  			  <td><%= link_to friend.name, friend %></td>
	  			<td><%= link_to "編集", [:edit, friend] %></td>
		  		<td><%= link_to "削除", friend, method: :delete %></td>
		  	</tr>
  		<% end %>
	  </table>
    <%= paginate @friends %>
  <% else %>
    <p>友達が登録されていません。</p>
  <% end %>
</div>