<!DOCTYPE html>
<html>
  <head>
    <title>TelBook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	  <h1>TelBook</h1>
    <%= yield %>
  </body>

  <footer>
	  <p>
		  2019 NS NE30-0229K Takahashi Nonoka
		</p> 
	</footer>

</html>
